body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100vh;
    background: black;
    font-family: consolas;
    color: white;
}

:root {
    --primary-green-neon-color: #3af321;
    --dark-green-neon-color: #25842a;
    --primary-blue-neon-color: #2196f3;
    --dark-blue-neon-color: #255784;
    --primary-pink-neon-color: #f321e2;
    --dark-pink-neon-color: #84257c;
}


/* ---------------------- SPIRAL AND GLOW - BLUE-------------------*/


/* TO use, inside an anchor, keep 4 span before text data, something like this 
<a href="#" class="spiral-and-glow-anchor-blue">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span> Neon Button
    </a> */

.spiral-and-glow-anchor-blue {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: var(--primary-blue-neon-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.1s;
}

.spiral-and-glow-anchor-blue:hover {
    color: var(--dark-blue-neon-color);
    background-color: var(--primary-blue-neon-color);
    /* background-color: #009D99; */
    box-shadow: 0 0 10px var(--primary-blue-neon-color), 0 0 40px var(--primary-blue-neon-color), 0 0 80px var(--primary-blue-neon-color);
    transition-delay: 0.5s;
}

.spiral-and-glow-anchor-blue span {
    position: absolute;
    display: block;
}

.spiral-and-glow-anchor-blue span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--primary-blue-neon-color));
}

.spiral-and-glow-anchor-blue:hover span:nth-child(1) {
    left: 100%;
    /* transition: 1s; */
    transition: 0.5s;
}

.spiral-and-glow-anchor-blue span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--primary-blue-neon-color));
}

.spiral-and-glow-anchor-blue:hover span:nth-child(3) {
    right: 100%;
    /* transition: 1s; */
    transition: 0.5s;
    /* transition-delay: 0.5s; */
    transition-delay: 0.25s;
}

.spiral-and-glow-anchor-blue span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--primary-blue-neon-color));
}

.spiral-and-glow-anchor-blue:hover span:nth-child(2) {
    top: 100%;
    /* transition: 1s; */
    transition: 0.5s;
    transition-delay: 0.125s;
}

.spiral-and-glow-anchor-blue span:nth-child(4) {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--primary-blue-neon-color));
}

.spiral-and-glow-anchor-blue:hover span:nth-child(4) {
    bottom: 100%;
    /* transition: 1s; */
    transition: 0.5s;
    /* transition-delay: 0.75s; */
    transition-delay: 0.375s;
}


/* ---------------------- SPIRAL AND GLOW - GREEN-------------------*/


/* TO use, inside an anchor, keep 4 span before text data, something like this 
<a href="#" class="spiral-and-glow-anchor-blue">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span> Neon Button
    </a> */

.spiral-and-glow-anchor-green {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: var(--primary-green-neon-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.1s;
}

.spiral-and-glow-anchor-green:hover {
    color: var(--dark-green-neon-color);
    background-color: var(--primary-green-neon-color);
    box-shadow: 0 0 10px var(--primary-green-neon-color), 0 0 40px var(--primary-green-neon-color), 0 0 80px var(--primary-green-neon-color);
    transition-delay: 0.5s;
}

.spiral-and-glow-anchor-green span {
    position: absolute;
    display: block;
}

.spiral-and-glow-anchor-green span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--primary-green-neon-color));
}

.spiral-and-glow-anchor-green:hover span:nth-child(1) {
    left: 100%;
    /* transition: 1s; */
    transition: 0.5s;
}

.spiral-and-glow-anchor-green span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--primary-green-neon-color));
}

.spiral-and-glow-anchor-green:hover span:nth-child(3) {
    right: 100%;
    /* transition: 1s; */
    transition: 0.5s;
    /* transition-delay: 0.5s; */
    transition-delay: 0.25s;
}

.spiral-and-glow-anchor-green span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--primary-green-neon-color));
}

.spiral-and-glow-anchor-green:hover span:nth-child(2) {
    top: 100%;
    /* transition: 1s; */
    transition: 0.5s;
    transition-delay: 0.125s;
}

.spiral-and-glow-anchor-green span:nth-child(4) {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--primary-green-neon-color));
}

.spiral-and-glow-anchor-green:hover span:nth-child(4) {
    bottom: 100%;
    /* transition: 1s; */
    transition: 0.5s;
    /* transition-delay: 0.75s; */
    transition-delay: 0.375s;
}


/* ---------------------- SPIRAL AND GLOW - PINK-------------------*/


/* TO use, inside an anchor, keep 4 span before text data, something like this 
<a href="#" class="spiral-and-glow-anchor-blue">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span> Neon Button
    </a> */

.spiral-and-glow-anchor-pink {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: var(--primary-pink-neon-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.1s;
}

.spiral-and-glow-anchor-pink:hover {
    color: var(--dark-pink-neon-color);
    background-color: var(--primary-pink-neon-color);
    box-shadow: 0 0 10px var(--primary-pink-neon-color), 0 0 40px var(--primary-pink-neon-color), 0 0 80px var(--primary-pink-neon-color);
    transition-delay: 0.5s;
}

.spiral-and-glow-anchor-pink span {
    position: absolute;
    display: block;
}

.spiral-and-glow-anchor-pink span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--primary-pink-neon-color));
}

.spiral-and-glow-anchor-pink:hover span:nth-child(1) {
    left: 100%;
    /* transition: 1s; */
    transition: 0.5s;
}

.spiral-and-glow-anchor-pink span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--primary-pink-neon-color));
}

.spiral-and-glow-anchor-pink:hover span:nth-child(3) {
    right: 100%;
    /* transition: 1s; */
    transition: 0.5s;
    /* transition-delay: 0.5s; */
    transition-delay: 0.25s;
}

.spiral-and-glow-anchor-pink span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--primary-pink-neon-color));
}

.spiral-and-glow-anchor-pink:hover span:nth-child(2) {
    top: 100%;
    /* transition: 1s; */
    transition: 0.5s;
    transition-delay: 0.125s;
}

.spiral-and-glow-anchor-pink span:nth-child(4) {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--primary-pink-neon-color));
}

.spiral-and-glow-anchor-pink:hover span:nth-child(4) {
    bottom: 100%;
    /* transition: 1s; */
    transition: 0.5s;
    /* transition-delay: 0.75s; */
    transition-delay: 0.375s;
}


/* -----------------NAVIGATION MENU GLOWING PINK--------------------------------------
.navigation-menu-glowing-pink > ul > li > a
 */

.navigation-menu-glowing-pink {
    margin-top: 50px
}

.navigation-menu-glowing-pink ul {
    display: flex;
}

.navigation-menu-glowing-pink ul li {
    list-style: none;
}

.navigation-menu-glowing-pink ul li a {
    padding: 10px 10px;
    margin: 10px 15px;
    /* border: 1px solid white; */
    border-radius: 2px;
}

.navigation-menu-glowing-pink ul li a:hover {
    box-shadow: 0 0 10px var(--primary-pink-neon-color), 0 0 40px var(--primary-pink-neon-color), 0 0 80px var(--primary-pink-neon-color);
    background-color: var(--primary-pink-neon-color);
    color: var(--dark-pink-neon-color);
}


/* -----------------NAVIGATION MENU GLOWING GREEN--------------------------------------
.navigation-menu-glowing-green > ul > li > a
 */

.navigation-menu-glowing-green {
    margin-top: 50px
}

.navigation-menu-glowing-green ul {
    display: flex;
}

.navigation-menu-glowing-green ul li {
    list-style: none;
}

.navigation-menu-glowing-green ul li a {
    padding: 10px 10px;
    margin: 10px 15px;
    /* border: 1px solid white; */
    border-radius: 2px;
}

.navigation-menu-glowing-green ul li a:hover {
    box-shadow: 0 0 10px var(--primary-green-neon-color), 0 0 40px var(--primary-green-neon-color), 0 0 80px var(--primary-green-neon-color);
    background-color: var(--primary-green-neon-color);
    color: var(--dark-green-neon-color);
}


/* -----------------NAVIGATION MENU GLOWING BLUE--------------------------------------
.navigation-menu-glowing-blue > ul > li > a
 */

.navigation-menu-glowing-blue {
    margin-top: 50px
}

.navigation-menu-glowing-blue ul {
    display: flex;
}

.navigation-menu-glowing-blue ul li {
    list-style: none;
}

.navigation-menu-glowing-blue ul li a {
    padding: 10px 10px;
    margin: 10px 15px;
    /* border: 1px solid white; */
    border-radius: 2px;
}

.navigation-menu-glowing-blue ul li a:hover {
    box-shadow: 0 0 10px var(--primary-blue-neon-color), 0 0 40px var(--primary-blue-neon-color), 0 0 80px var(--primary-blue-neon-color);
    background-color: var(--primary-blue-neon-color);
    color: var(--dark-blue-neon-color);
}