doctype html 
html 
    head 
        style 
            include ../static/style.css
    body 
        nav#navbar
            ul 
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info ]
                li #[a(href="/") Contact US ]
        section#introSection 
            div  Welcome to Jimmy's Dance Academy 
            div.small  Eat Sleep Dance Repeat
        section#sponsorSection 
            h2 Our Sponsors 
        footer#footer 
            | our footer here.
        script 
            include ../static/indexScript.js

         
